.service{
    margin: 30px  150px;
}
.service h3{
    text-align: center;
    margin: 50px 150px;
}
.service-item{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.service-part{
    border: 1px solid white;
    width: 180px;
    height: 180px;
    text-align: center;
}