.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
    width: 100px;
    background-color: #202020;
    position: fixed;
    left:0 ;
    top: 0;
}
.nav  .nav-logo{
    font-style: italic;
    font-size: 24px;
    font-weight: lighter;
    color:#ffc107;
    cursor: pointer;
}
.nav-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 1rem;
    cursor: pointer;
   
}
.nav-list .nav-link{
    color: #fff;
    position: relative;
    transform: rotate(-90deg);
}
.nav-open{
    display: none;
}
.nav-close{
    display: none;
}
.nav-link::before{
    content: '';
    width: 2rem;
    height: 0.1rem;
    background:linear-gradient(to right, #fff,#3348c2, #f2fcfb);
    position:absolute;
    bottom:-0.6rem ;
    opacity: 0;
    transform: translateX((-1.5rem));
    transition: all 0.3s ease-in;
}
.nav-link:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
} 
.nav-link:hover{
    color:#0069d9;
}
.setting{
    font-size: 24px;
    text-align: center;
}
@media (min-width:750){

    .nav-open{
        display: block;
        position: fixed;
        right: 30px;
        color: white;
        font-size: 300px;
    }
    .nav-close{
        display: block;
        position: relative;
        top: 30px;
        left: 230px;
        width: 30px;
    }
}
@media screen and (max-width:1024px){
    .nav{
        display: block;
        width: 300px;
    }
    .nav-logo{
        position: fixed;
        top: 20px;
        left: 30px;
    }
    .nav-open{
        display: block;
        position: fixed;
        top: 20px;
        right: 30px;
        font-size: 24px;
    }
    .nav-close{
        display: block;
        position: relative;
        left: 100px;
        top: 30px;
        width: 30px; 
    }
    .nav-list{
        margin-top: 40px;
    }
    .nav-item{
        padding: 10px 0;
    }
    .setting{
        margin-top: 20px;
    }
}