.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100%;
    width: 100px;
    background:rgba(00, 80, 80, 0.3);
    position: fixed;
    left:0 ;
}
.nav  .nav-logo{
    font-style: italic;
    font-size: 24px;
    font-weight: lighter;
    color: palevioletred;
    cursor: pointer;
}
.nav-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 1rem;
    cursor: pointer;
   
}
.nav-list .nav-link{
    color: #fff;
    position: relative;
    transform: rotate(-90deg);
}
.nav-open{
    display: none;
}
.nav-close{
    display: none;
}
.nav-link::before{
    content: '';
    width: 2rem;
    height: 0.1rem;
    background:linear-gradient(to right, #fff, #f2fcfb);
    position:absolute;
    bottom:-0.6rem ;
    opacity: 0;
    transform: translateX((-1.5rem));
    transition: all 0.3s ease-in;
}
.nav-link:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}
.nav-link:hover{
    color: cadetblue;
} 
/* Responsive */
@media(max-width:768px){
     .nav{
        display: block;
    }
    .nav-open{
        display: block;
       font-size: 30px;
       position: fixed;
       left: 300px;
    }
    .nav-close{
        display: block;
        position: relative;
        top: 30px;
        left: 230px;
        width: 30px;
    }
    .nav-logo{
      margin-top: 10px;
    }
    .nav-list{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 40px;
        width: 280px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        left: -350px;
        background:rgba(00, 80, 80, 0.3);
    } 
    .nav-list li{
        font-size: 20px;
        font-weight: 300;
        padding-left:100px;
        flex-direction: row;
        gap: 20px;
    } 
    
} 