.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
}
.nav-list li .nav-item{
    text-decoration: none;
    color: #fff;
    position: relative;
}
.nav-hire{
    border: 1px solid #008080;
    padding: 15px 35px;
    border-radius: 50px;
}
.nav-open{
    display: none;
}
.nav-close{
    display: none;
}
.nav-item::before{
    content: '';
    width: 2rem;
    height: 0.2rem;
    background:linear-gradient(to right, #008080, #b5e0e0, #008080);
    position:absolute;
    bottom:-0.6rem ;
    opacity: 0;
    transform: translateX((-1.5rem));
    transition: all 0.3s ease-in;
}
.nav-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}
/* Responsive */
@media(max-width:768px){
    .nav{
        margin: 30px 50px;
    }
    .nav-hire{
        display: none;
    }
    .nav-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-close{
        display: block;
        position: relative;
        top: 30px;
        left: 230px;
        width: 30px;
    }
    .nav-list{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 280px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        left: -350px;
    } 
    .nav-list li{
        font-size: 20px;
        font-weight: 300;
        padding-left:100px;
        flex-direction: row;
        gap: 20px;
    }
}