.skill{
  margin: 20px 150px;
  background-color: aqua;
}
.skill h3{
  text-align: center;
  margin-bottom: 20px;
}
.skill p{
  text-align: center;
  margin-bottom: 20px;
}
.skill-item{
  display:flex;
  gap: 20px;
  
}
.skill-item .skill-link{
  border: 2px solid steelblue;
  background-color:rgba(70,130,180,0.3) ;
  border-radius: 5px;
  padding: 10px;
}
.skill-link p{
  text-align: center;
  font-size: 1.1rem;
}
.skill-link ul{
  display: flex;
}
.skill-link ul li{
   border: 1px solid #221c1c00; 
   
}