.main{
    margin-left: 120px;
}

/* desktop */
@media screen and (max-width:1024px){
    .main{
        margin-left: 0;
    }
}
/* mobile */
@media screen and (max-width:767px){
    .main{
        margin-left: 0;
    }
}