*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background:linear-gradient( 45deg, pink, skyblue) ;
    width: 100vw;
    min-height:100vh ;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding: 15px 10px;
}
.nav h3{
    font-size: 28px;
    padding: 0 20px;
    margin-left: 40px;
}
.nav .nav-list .icons{
    flex: 1;
    list-style-type: none;
    text-align: center;
}
.nav .nav-list li, .icons li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.nav .toggle{
    margin: 10px 20px;
    padding: 0 20px;
    background-color:aquamarine ;
}